@model OnlineShop.Models.Order

@{
    ViewData["Title"] = "Details";
}

<div>　</div>
<h3>訂單詳細資訊</h3>
<hr />

<p></p>
<div class="card shadow-sm rounded">
    <div class="card-body">

        <h5>訂單編號：@Html.DisplayFor(model => model.Id)</h5>
        <div class="row">
            <div class="col"><p class="text-muted">@Html.DisplayFor(model => model.UserName)</p></div>
            <div class="col text-right"><p class="text-muted">@Html.DisplayFor(model => model.OrderDate)</p></div>
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>商品名稱</th>
                        <th>數量</th>
                        <th>小計</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.orderItems)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.Amount</td>
                            <td>@item.SubTotal</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-right pr-5">
                <p style="padding-right:12px">總計： $@Html.DisplayFor(model => model.Total)</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-7">
                <p>收貨人姓名：@Html.DisplayFor(model => model.ReceiverName)</p>
                <p>收貨人電話：@Html.DisplayFor(model => model.ReceiverPhone)</p>
                <p>收貨人地址：@Html.DisplayFor(model => model.ReceiverAdress)</p>
            </div>
            <div class="col-5">
                <p>
                    訂單狀態：
                    @if (@Model.isPaid)
                    {
                        <span>已付款</span>
                    }
                    else
                    {
                        <span>未付款</span>
                    }
                </p>
                <div class="row">
                    <p class="col-3">立即付款：</p>
                    <div class="col-9">
                        <div class="w-75" id="payment-button"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<p></p>
<div>
    <a class="btn btn-sm btn-outline-secondary" asp-action="Index">返回訂單列表</a>
</div>


<script src="https://www.paypal.com/sdk/js?client-id=AROOEAjq-CEdjN74SU6zEGiQIc-1CKe_Cloaeuudb9ZCZZeAF3dVdqkeqO4fhFOM035egHsnUlK86pk1&currency=TWD"></script>
<script>
    paypal.Buttons({
        style: {
            shape: 'rect',
            size: 'small',
        },
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: @Model.Total,
                        currency_code: 'TWD',
                        breakdown: {
                            item_total: { value: @Model.Total, currency_code: 'TWD' }
                        }
                    },
                    invoice_id: 'muesli_invoice_id',
                    items: [
                        @foreach (var item in ViewBag.orderItems)
                        {
                            @:{ name:'@item.Product.Name', unit_amount: { value:@item.SubTotal, currency_code: 'TWD' }, quantity:@item.Amount },
                        }
                    ]
                }]
            });
        },
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                console.log(details),
                window.location.replace("/order/payment/?Id=@Model.Id&isSuccess=true");
            })
        },
        onCancel: function (data) {
            window.location.replace("/order/payment/?Id=@Model.Id&isSussess=false");
        }
    }).render('#payment-button')
</script>

